<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MotionLocationApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75F9E9E81ED622DE001DDFF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75F9E9FC1ED622DF001DDFF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75F9EA071ED622DF001DDFF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
